player-connection-mode=Listen
player-connection-guid=3281009386
player-connection-debug=0
player-connection-project-name=testest
player-connection-ip=172.18.4.33
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=78fb1d6b1e4041b4bc04b74feb0b3ad7
